<clr-main-container>
  <header class="header-6">
    <div class="branding">
      <a href="client/home" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Hospital Alert System</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="client/home" clrDropdownItem>home</a>
          <!-- <a href="..." clrDropdownItem>Preferences</a>
        <a href="..." clrDropdownItem>Log out</a> -->
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>